@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #07080a;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root::-webkit-scrollbar {
    display: none;
}
